{:paths ["src"]
 :deps  {org.clojure/clojure         {:mvn/version "1.12.0"}
         com.fulcrologic/statecharts {:mvn/version "1.2.6"}
         camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}}}
