{:throw?                 true
 :tap>?                  false
 :guardrails/compact?    true
 :guardrails/mcps        50
 :guardrails/trace?      false
 :guardrails/stack-trace :none
 :guardrails/use-stderr? true
 }
